@import url("https://fonts.cdnfonts.com/css/lilex");
@import "rosepine.css";

:root {
    --font: "Lilex", monospace;

    --max-content-width: 1280px;

    --text-primary: #f2f2f2;
    --text-secondary: #--size-xs: 0.25rem;

    --font-xs: 0.75rem;
    --font-sm: 0.875rem;
    --font-md: 1rem;
    --font-lg: 1.25rem;
    --font-xl: 1.5rem;
    --font-2xl: 2rem;

    --space-xs: 0.25rem;
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 2rem;
    --space-xl: 4rem;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: var(--font);
    font-size: var(--font-md);
    color: var(--color-text);
}

h1,
h2 {
    color: var(--color-rose);
}

a {
    color: var(--color-text);
    text-decoration: underline;
    text-underline-offset: var(--space-sm);
    overflow-wrap: break-word;
    padding: var(--space-xs) 0;

    &:hover {
        text-decoration: none;
        background: var(--color-highlight-high);
    }
}

.container {
    margin: var(--space-lg);
}
